.image-annotate-canvas {
  background-position: left top;
  background-repeat: no-repeat;
  display: block;
  position: relative;
}

.image-annotate-view {
  display: none;
  position: relative;
}

.image-annotate-area {
  border: 1px solid #000;
  position: absolute;
}

.image-annotate-area div {
  border: 1px solid #FFF;
  display: block;
}
.image-annotate-area-hover div {
  border-color: yellow !important;
}

.image-annotate-area-editable {
  cursor: pointer;
}

.image-annotate-note {
  background: #FFF;
  color: #000;
  display: none;
  max-width: 200px;
  padding:3px 7px;
  position: absolute;
}

.image-annotate-note .author {
}

.image-annotate-note .actions {
  display: block;
}

.image-annotate-edit {
  display: none;
}

#image-annotate-form {
  background: #fff;
  border: 1px solid #000000;
  padding: 7px;
  position: absolute;
  width: 200px;
}

#image-annotate-form form {
  clear: right;
  margin: 0 !important;
  padding: 0;
  z-index: 999;
}

#image-annotate-form .box {
  margin: 0;
}

#image-annotate-form input.form-text,
#image-annotate-form #edit-comment-wrapper textarea {
  width: 90%;
}

#image-annotate-form textarea {
  height: 50px;
}

#image-annotate-form fieldset {
  background: transparent;
}

#image-annotate-form .form-item {
  margin: 0 0 5px 0;
}

#image-annotate-form .form-button,
#image-annotate-form .form-submit {
  margin: 0;
}

.image-annotate-edit-area {
  border: 1px solid black;
  display: block;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 10px;
  left: 10px;
  cursor: move;
  width: 60px;
  height: 60px;
}

.image-annotate-edit-area .ui-resizable-handle {
  opacity: 0.8;
}

.image-annotate-edit-close {
  float: right;
}
